@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700;800&display=swap');

body {
    font-family: 'Urbanist';
}
.container{
    max-width: 1440px;
    margin:0 auto; 
}
.header__body{    
    padding: 2.1% 7.2% 2.4% 7.2%;
}
.header__cart-text{
    padding: 1% 1% 3% 11%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1%;
    text-transform: uppercase;
    white-space: nowrap;

    color: #181A3F;
}
header::after{
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6;    
}

.header__body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__logo, .header__cart{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logo__branding{
    font-weight:800;
    font-size: 26.75px;
    letter-spacing: 2px;
    white-space: nowrap;
    margin-left: 3.5%; 
    padding-bottom: 2.5%;
}


.menu__list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    display: none;
}
.menu__link{
    color:#181A3F;
    text-decoration: none;
    -webkit-transition: all 0.1s ease;
    transition: all 0.5s ease; 
}
.menu__link:hover{
    color:#FF7549;
}
.menu__hamb {
    display: flex;
    align-items: center;
}
.hamb__field {
    padding: 10px 20px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 55px;
    height: 3px;
    background-color: #000;
    transition: 0.2s;
}
#bar1{
    margin-bottom: 30%;
}

.popup {
    display: none;
}
.popup {
    position: fixed;
    top: 29.6%;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
}
.popup.open {
    right: 0;
}
.popup .menu__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
}
.popup .menu__list > li {
    width: 100%;
}
.popup .menu__list > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
}
.popup .menu__list > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
}
.hamb__field.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.hamb__field.active .bar:nth-child(2) {
    transform: translateY(-10px) rotate(-45deg);
}
body.noscroll {
    overflow: hidden;
}


.main-page__body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 7.15%;
}
.main-page__content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    /*justify-content: center;*/
    margin-top: -8.5%;
}
.main-page__title{
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 137%;
    letter-spacing: 2.35px;
    margin-top: 15.5%;
    margin-bottom: 2%;
    text-transform: uppercase;
    color: #181A3F;
}
.main-page__description{
    margin-bottom: 2%;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.12px;
    color: #555671;
    
}
.main-page__buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

    padding-top: 7.8%;
}
#main-page_button1{
    margin-right: 5.5%;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 1.5px;
    color: #FFFFFF;

    height: 56px;
    min-width: 254.5px;
    background-color: #FF7549;
    border: none;
    text-decoration: none;
    display: inline-block;
}
#main-page_button2{
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.2px;
    color: #000;

    height: 56px;
    min-width: 274px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: inline-block;
}
.main-page__body__img{
    margin-right: -0.5%;
}

.services-page__body{
    margin: 0 7.15%;
}
.services__item__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16%;
    margin-bottom: 2.5%;
}
.services-page__title{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 145%;
    letter-spacing: 2.31px;
    text-transform: uppercase;
    color: #181A3F;
}
#services__title-text{
    margin-top: 8.9%;
}
.services-page__button{
    margin: 5.9% 0 5% 0;    
}
#services__button1{
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #000;
    padding-top: 1.5%;

    height: 54px;
    min-width: 364px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: inline-block;
}
.services-page__body__grid{
    margin-top: 3.5%;
    padding-right: 0%;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(2, 1fr);   
    grid-column-gap: 8%;
    grid-row-gap: 8.9%; 
}
.services__grid__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0%;
}
.services-page__img{
    margin-bottom: -1%;
}
#services__grid__item-1{
    padding-top: 0%;
}
#services__grid__item-2{
    margin-top: -2%;
}
#services__grid__item-5{
    margin-top: 9.2%;
}
#services__grid__item-6{
    margin-top: 2.1%;
}
.services-page__subtitles
{
    margin-bottom: 0.2%;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 94%;
    letter-spacing: 0.5px;
    color: #181A3F;
}
.services-page__desc
{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.12px;
    color: #555671;
}