h1{
    color: #164c78;
    font-size: 30px;
    font-weight: 600;
}
h2{
    font-size: 20px;
    color: #164c78;
    font-weight: 650;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 px;
}
.cv{
    margin: 8%;
}

img{
    width: 210px;
    height: 200px;    
    border-radius: 50%;
}

hr{
    margin: 20px 0;
	padding: 0;
	height: 3px;
	border: none;
	background: linear-gradient(45deg, #bcd5e8, #fff);
}

li{
    padding: 5px;
}
.notype{
    list-style-type: none;
}

/*
#name{
    float: left ;
    width: 40% ;
}
#hr_head{
    float:right ;
    width: 40% ;
}
#kafka_img{
    float: left ;
    width: 10% ;
}*/

main {
    float: right ;
    width: 70% ;
}
nav {
    float: right;
    width: 30%;
    text-align: right;
    color: #164c78;
}
#foot{
    text-align: center;
    color:#fff;
    background-color: #bcd5e8;
    display: flex;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 99%;   
    font-size: 19px;
    font-weight: bold;
}




.limiter {
    max-height: 200px;
    overflow: hidden;
    position: relative;

    padding: -30px;
}
.limiter .bottom {
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgb(255 217 29 / 0%),
      rgb(205, 221, 234)90%);
    width: 100%;
    height: 60px;
    opacity: 1;
    transition: 0.3s;
}
.read-more-checker {
    opacity: 0;
    position: absolute;
}
.read-more-checker:checked ~ .limiter {
    max-height: none;
}
.read-more-checker:checked ~ .limiter .bottom {
    opacity: 0;
    transition: 0.3s;
}
.read-more-checker ~ .read-more-button:before {
    content: "Развернуть »";
}
.read-more-checker:checked ~ .read-more-button:before {
    content: "Свернуть «";
}
.read-more-button {
    cursor: pointer;
    display: inline-block;
    color: #50718c;
    text-decoration: underline;
}
  
  