@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700;800&display=swap');

body {
    font-family: 'Urbanist';
}
.container{
    max-width: 1440px;
    margin:0 auto; 
}
.header__body{    
    padding: 2.1% 7.2% 2.4% 7.2%;
}

@media(max-width:768px){
    .header__body {
        padding: 3.8% 6% 2.4% 5.6%;
        margin-bottom: 2.5%;
    }
}
@media(max-width:320px){
    .header__body {
        padding: 1.4% 6% 3% 5.6%;
        margin-bottom: 0.5%;
    }
}

.header__cart-text{
    padding: 1% 1% 3% 11%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1%;
    text-transform: uppercase;
    white-space: nowrap;

    color: #181A3F;
}
@media (max-width:320px){
    .header__cart-text{
        display:none;
    }
    .header__menu{
        padding-left: 21%;
    }
}

.header__body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__logo, .header__cart{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logo__branding{
    font-weight:800;
    font-size: 26.75px;
    letter-spacing: 2px;
    white-space: nowrap;
    margin-left: 3.5%; 
    padding-bottom: 2.5%;
}
@media (max-width:320px){
    .header__logo__branding{
        display:none;
    }
}

header::after{
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6;    
}


.menu__list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    display: none;
}

.menu__hamb {
    display: flex;
    align-items: center;
}
.hamb__field {
    padding: 10px 20px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 55px;
    height: 3px;
    background-color: #000;
    transition: 0.2s;
}
#bar1{
    margin-bottom: 30%;
}

.popup {
    display: none;
}
.popup {
    position: fixed;
    top: 120px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
}
@media (max-width: 768px){
    .popup{
        top: 121px;
    }
}
@media (max-width: 320px){
    .popup{
        top: 70px;
    }
}

.popup.open {
    right: 0;
}
.popup .menu__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 5% 0%;
    overflow: auto;
}
.popup .menu__list > li {
    width: 100%;
}
.popup .menu__list > li > a{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #181A3F;

    text-decoration: none;
    -webkit-transition: all 0.1s ease;
    transition: all 0.5s ease;
}
.popup .menu__list > li > a:hover {
    color:#FF7549;
}
.hamb__field.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.hamb__field.active .bar:nth-child(2) {
    transform: translateY(-10px) rotate(-45deg);
}
body.noscroll {
    overflow: hidden;
}


.main-page__body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 7.15%;
}
@media (max-width:768px){
    .main-page__body{
        padding: 0% 0% 0% 5.6%;
    }
}

.main-page__content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 23.4%;
}
@media (max-width:768px){
    .main-page__content{
        margin-top: 26.7%;
    }
}
@media (max-width:320px){
    .main-page__content{
        margin-top: 25.7%;
    }
}

.main-page__body__grid{
    
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  1fr;   
    grid-column-gap: 7.8%;
}
@media (max-width: 768px){
    .main-page__body__grid{
        grid-template-columns: 66% 34%;
        grid-column-gap: 0%;
    }
}
@media (max-width: 320px){
    .main-page__body__grid{
        grid-template-columns: 1fr;
        grid-template-rows:  1fr;
    }
}

.main-page__title{
    margin-top: 15.3%;
    margin-bottom: 2%;

    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    text-align: left;
    line-height: 137%;
    letter-spacing: 2.35px;
    text-transform: uppercase;
    color: #181A3F;
}
@media (max-width: 768px){
    .main-page__title{
        margin-top: 0%;
        margin-bottom: 3%;

        font-size: 45px;
        line-height: 164%;
        letter-spacing: 3.4px;
    }
}
@media (max-width: 320px){
    .main-page__title{
        margin-bottom: 16%;
        margin-left: -6%;
        padding: 0% 1%;
        font-size: 28px;
        line-height: 143%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2.16px;
    }
}

.main-page__description{
    margin-bottom: 2%;
    padding-right: 23%;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.12px;
    color: #555671;
    
}
@media (max-width: 768px) {
    .main-page__description{
        font-size: 18px;
        line-height: 165%;
        padding-right: 3%;
        letter-spacing: 0px;
    }
}
@media (max-width: 320px) {
    .main-page__description{
        margin-bottom: 4%;
        padding-left: 0.5%;
        padding-right: 7%;
        font-size: 13px;
        line-height: 185%;
        text-align: justify;
        letter-spacing: 0px;
    }
}

.main-page__buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  1fr;   
    grid-column-gap:5.1%;
    padding-top: 7.5%;
}
@media (max-width: 768px){
    .main-page__buttons{
        margin-top: 6%;
        grid-column-gap:4.8%;
    }
}
@media (max-width: 320px){
    .main-page__buttons{
        margin-top: 6%;
        grid-column-gap:5.8%;
    }
}
#main-page_button1{
    margin-right: 5.5%;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 1.5px;
    color: #FFFFFF;

    height: 56px;
    width: 254.5px;
    background-color: #FF7549;
    border: none;
    text-decoration: none;
    display: inline-block;
}
@media (max-width: 768px){
    #main-page_button1{
        width: 206px;
    }
}
@media (max-width: 320px){
    #main-page_button1{
        width: 128px;
        height: 47px;
        font-size: 14px;
        line-height: 157%;
        letter-spacing: 1.1px;
    }
}
#main-page_button2{
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.2px;
    color: #000;

    height: 56px;
    width: 274px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: inline-block;
}
@media (max-width: 768px){
    #main-page_button2{
        width: 206px;
    }
}
@media (max-width: 320px){
    #main-page_button2{
        width: 127px;
        height: 47px;
        font-size: 13px;
        line-height: 157%;
        letter-spacing: 0.76px;
    }
}

.main__grid__item.main-page__body__img{
    display: flex;
    justify-content: right;
    margin-right: -1.2%
}
#main-img-tablet{
    display: none;
}
/*запросы для main-img*/
@media (max-width: 768px){
    #main-img-tablet{
        display: block;
        margin-right: -1.9%
    }
    #main-img-desktop{
        display: none;
    }
}
@media (max-width:320px){
    #main-img-tablet{
        display: none;
    }
    #main-img-desktop{
        display: none;
    }
}



.services-page__body::before{
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6;    
}
@media (max-width: 768px){
    .services-page__body::before{
        margin-top: 17.5%;
        padding-top: 0%;        
    }
}
@media (max-width:320px){
    
}

.services-page__body{
    margin: 0% 7.15% 18.5% 7.15%;
}
@media (max-width:768px){
    .services-page__body{
        margin: 0% 7.15% 18.5% 6%;
    }
}
@media (max-width:320px){
    .services-page__body{
        margin-right: 6%;
    }
}
.services-page__body::after{
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6; 
    margin-top: 20.8%;
}
.services__item__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16%;
    margin-bottom: 2.5%;
}
@media (max-width:768px){
    .services__item__head{
        justify-content:center;
        margin-left: 1%;
        padding: 0% 12%;
    }
}
@media (max-width:320px){
    .services__item__head{
        justify-content:center;
        /*margin-left: 1%;*/
        padding: 0% 0%;
    }
}

.services-page__title{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 145%;
    letter-spacing: 2.31px;
    text-transform: uppercase;
    color: #181A3F;
}
@media (max-width:768px){
    .services-page__title{
        text-align: center;
    }
}
#services__title-text{
    margin-top: 5.5%;
    padding-right: 15%;
}
@media (max-width:768px){
    #services__title-text{
        margin-top: 1.7%;
        margin-bottom: 7%;
        padding-right: 0%;
        letter-spacing: 2px;
    }
}
@media (max-width:320px){
    #services__title-text{
        margin-top: -3%;
        margin-left: -0.9%;
        margin-bottom: 6.5%;
        padding-right: 0%;

        font-size: 20px;
        line-height: 200%;
        letter-spacing: 2px;
    }
}

.services-page__button{
    margin: 5.9% 0 5% 0;    
}
@media (max-width:768px){
    .services-page__button{
        margin: 0;    
        padding-top: 20.1%;
        padding-left: 1%;
        margin-bottom: -7%;
    }
}
@media (max-width:320px){
    .services-page__button{
        margin: 0;    
        padding-top: 8%;
        padding-left: 0%;
        margin-bottom: -5.5%;
    }
}
#services__button__desktop{
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #000;
    padding-top: 1.5%;

    height: 54px;
    min-width: 364px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: inline-block;
}
#services__button__tablet{    
    margin: 0 auto;
    margin-top: 0%;

    font-weight: 400;
    font-size: 20px;
    line-height: 128%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4px;
    color: #181A3F;
    
    height: 54px;
    width: 335px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;

    display:none;
}
@media (max-width: 768px){
    #services__button__tablet{
        display:block;
    }
    #services__button__desktop{
        display:none;
    }
}
@media (max-width: 320px){
    #services__button__tablet{
        padding-top: 2%;
        font-size: 13px;
        line-height: 169%;
        letter-spacing: 0.8px;
        
        height: 38px;
        width: 186px;
    }
}

.services-page__body__grid{
    margin-top: 3.5%;
    padding-right: 0%;

    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(2, 1fr);   
    grid-column-gap: 8%;
    grid-row-gap: 7.9%; 
}
@media (max-width:768px){
    .services-page__body__grid{
        margin-top: 1.6%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:  repeat(2, 1fr);   
        grid-column-gap: 14%;
        grid-row-gap: 8.2%; 
    }
}
@media (max-width:320px){
    .services-page__body__grid{
        margin-top: 9.9%;
        padding-left: 0.7%;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(2, 1fr);   
        grid-row-gap: 0%; 
    }
}

.services__grid__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0%;
}
.services-page__img{
    margin-bottom: -1%;
}
@media(max-width:320px){
    .services-page__img > img{
        width: 55px;
    }
    #services__grid__item-2 > .services-page__img > img{
        width: 55px;
        height: 56.52px;
    }
}
#services__grid__item-1{
    padding-top: 0%;
}
#services__grid__item-2{
    margin-top: -2%;
}
#services__grid__item-4{
    margin-top: 1%;
}
#services__grid__item-5{
    margin-top: 5.2%;
}
#services__grid__item-6{
    margin-top: 1.8%;
}
@media (max-width:768px){
    #services__grid__item-2{
        margin-top: -3%
    }
    #services__grid__item-3{
        display: none;
    }    
    #services__grid__item-4{
        margin-top: -10.7%
    }
    #services__grid__item-5{
        margin-top: -0.5%;
        margin-left: -1.5%;
    }
    #services__grid__item-6{
        display: none;
    }
}
@media(max-width:320px){
    .services-page__img > img{
        width: 55px;
    }
    #services__grid__item-2{
        margin-top: -1%
    }
    #services__grid__item-3{
        display: none;
    }    
    #services__grid__item-4{
        display: none;
    }
    #services__grid__item-5{
        display: none;
    }
    #services__grid__item-6{
        display: none;
    }
}

.services-page__subtitles
{
    margin-bottom: 0.2%;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 94%;
    letter-spacing: 0.5px;
    color: #181A3F;
}
@media (max-width:768px){
    .services-page__subtitles
    {
        letter-spacing: 0px;
    }
}
@media (max-width:320px){
    .services-page__subtitles
    {
        margin-top: 7%;
        padding-left: 3%;
        font-size: 20px;
        line-height: 0%;
    }
    #services__grid__item-2 > .services-page__subtitles{
        margin-top: 7.5%;
        margin-left: -0.5%;
    } 
}

.services-page__desc
{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.12px;
    color: #555671;
}
@media (max-width:768px){    
    .services-page__desc{
        text-align: justify;
        letter-spacing: 0px;

        font-size: 13px;
        line-height: 185%;
    }
}
@media (max-width:320px){    
    .services-page__desc{
        padding-top: 0.82%;
        padding-left: 0.5%;
        font-size: 13px;
        line-height: 185%;
    }
    #services__grid__item-2 > .services-page__desc{
        padding-top: 0%;
        padding-left: 0.2%;
        margin-bottom: 0%;
        letter-spacing: 0px;
    } 
}