@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700;800&display=swap');

body {
    font-family: 'Urbanist';
}
.container{
    /*max-width: 1440px;*/
    margin: 0% auto; 
}
.header__body{    
    padding: 2.1% 7.2% 2.4% 7.2%;
}

@media(max-width:768px){
    .header__body {
        padding: 3.8% 6% 2.4% 5.6%;
        margin-bottom: 2.5%;
    }
}
@media(max-width:320px){
    .header__body {
        padding: 1.4% 6% 3% 5.6%;
        margin-bottom: 0.5%;
    }
}

.header__cart-text{
    padding: 1% 1% 3% 11%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1%;
    text-transform: uppercase;
    white-space: nowrap;

    color: #181A3F;
}
@media (max-width:320px){
    .header__cart-text{
        display:none;
    }
    .header__menu{
        padding-left: 21%;
    }
}

.header__body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__logo, .header__cart{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logo__branding{
    font-weight:800;
    font-size: 26.75px;
    letter-spacing: 2px;
    white-space: nowrap;
    margin-left: 3.5%; 
    padding-bottom: 2.5%;
}
@media (max-width:320px){
    .header__logo__branding{
        display:none;
    }
}

header::after{
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6;    
}


.menu__list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    display: none;
}

.menu__hamb {
    display: flex;
    align-items: center;
}
.hamb__field {
    padding: 10px 20px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 55px;
    height: 3px;
    background-color: #000;
    transition: 0.2s;
}
#bar1{
    margin-bottom: 30%;
}

.popup {
    display: none;
}
.popup {
    position: fixed;
    top: 115px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
}
@media (max-width: 768px){
    .popup{
        top: 121px;
    }
}
@media (max-width: 320px){
    .popup{
        top: 70px;
    }
}

.popup.open {
    right: 0;
}
.popup .menu__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 5% 0%;
    overflow: auto;
}
.popup .menu__list > li {
    width: 100%;
}
.popup .menu__list > li > a{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #181A3F;

    text-decoration: none;
    -webkit-transition: all 0.1s ease;
    transition: all 0.5s ease;
}
.popup .menu__list > li > a:hover {
    color:#FF7549;
}
.hamb__field.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.hamb__field.active .bar:nth-child(2) {
    transform: translateY(-10px) rotate(-45deg);
}
body.noscroll {
    overflow: hidden;
}


.main-page__body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 7.15%;
}
@media (max-width:768px){
    .main-page__body{
        padding: 0% 0% 0% 5.6%;
    }
}

.main-page__content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 23.4%;
}
@media (max-width:768px){
    .main-page__content{
        margin-top: 26.7%;
    }
}
@media (max-width:320px){
    .main-page__content{
        margin-top: 25.7%;
    }
}

.main-page__body__grid{
    
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  1fr;   
    grid-column-gap: 7.8%;
}
@media (max-width: 768px){
    .main-page__body__grid{
        grid-template-columns: 66% 34%;
        grid-column-gap: 0%;
    }
}
@media (max-width: 320px){
    .main-page__body__grid{
        grid-template-columns: 1fr;
        grid-template-rows:  1fr;
    }
}

.main-page__title{
    margin-top: 15.3%;
    margin-bottom: 2%;

    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    text-align: left;
    line-height: 137%;
    letter-spacing: 2.35px;
    text-transform: uppercase;
    color: #181A3F;
}
@media (max-width: 768px){
    .main-page__title{
        margin-top: 0%;
        margin-bottom: 3%;

        font-size: 45px;
        line-height: 164%;
        letter-spacing: 3.4px;
    }
}
@media (max-width: 320px){
    .main-page__title{
        margin-bottom: 16%;
        margin-left: -6%;
        padding: 0% 1%;
        font-size: 28px;
        line-height: 143%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2.16px;
    }
}

.main-page__description{
    margin-bottom: 2%;
    padding-right: 23%;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.12px;
    color: #555671;
    
}
@media (max-width: 768px) {
    .main-page__description{
        font-size: 18px;
        line-height: 165%;
        padding-right: 3%;
        letter-spacing: 0px;
    }
}
@media (max-width: 320px) {
    .main-page__description{
        margin-bottom: 4%;
        padding-left: 0.5%;
        padding-right: 7%;
        font-size: 13px;
        line-height: 185%;
        text-align: justify;
        letter-spacing: 0px;
    }
}

.main-page__buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  1fr;   
    grid-column-gap:5.1%;
    padding-top: 7.5%;
}
@media (max-width: 768px){
    .main-page__buttons{
        margin-top: 6%;
        grid-column-gap:4.8%;
    }
}
@media (max-width: 320px){
    .main-page__buttons{
        margin-top: 6%;
        grid-column-gap:5.8%;
    }
}
#main-page_button1{
    margin-right: 5.5%;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 1.5px;
    color: #FFFFFF;

    height: 56px;
    width: 254.5px;
    background-color: #FF7549;
    border: none;
    text-decoration: none;
    display: inline-block;
}
@media (max-width: 768px){
    #main-page_button1{
        width: 206px;
    }
}
@media (max-width: 320px){
    #main-page_button1{
        width: 128px;
        height: 47px;
        font-size: 14px;
        line-height: 157%;
        letter-spacing: 1.1px;
    }
}
#main-page_button2{
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.2px;
    color: #000;

    height: 56px;
    width: 274px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: inline-block;
}
@media (max-width: 768px){
    #main-page_button2{
        width: 206px;
    }
}
@media (max-width: 320px){
    #main-page_button2{
        width: 127px;
        height: 47px;
        font-size: 13px;
        line-height: 157%;
        letter-spacing: 0.76px;
    }
}

.main__grid__item.main-page__body__img{
    display: flex;
    justify-content: right;
    margin-right: -1.2%
}
#main-img-tablet{
    display: none;
}
/*запросы для main-img*/
@media (max-width: 768px){
    #main-img-tablet{
        display: block;
        margin-right: -1.9%
    }
    #main-img-desktop{
        display: none;
    }
}
@media (max-width:320px){
    #main-img-tablet{
        display: none;
    }
    #main-img-desktop{
        display: none;
    }
}



.services-page__body::before{
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6;    
}
@media (max-width: 768px){
    .services-page__body::before{
        margin-top: -0.8%;
        padding-top: 0%;        
    }
}
@media (max-width:320px){
    .services-page__body::before{
        margin-top: 17.2%;
        padding-top: 0%;        
    }
}

.services-page__body{
    margin: 0% 7.15% 18.5% 7.15%;
}
@media (max-width:768px){
    .services-page__body{
        margin: 0% 6.5% 18.5% 6%;
    }
}
@media (max-width:320px){
    .services-page__body{
        margin-right: 6%;
    }
}
.services-page__body::after{
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6; 
    margin-top: 20.8%;
}
.services__item__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16%;
    margin-bottom: 2.5%;
}
@media (max-width:768px){
    .services__item__head{
        justify-content:center;
        margin-left: 1%;
        padding: 0% 12%;
    }
}
@media (max-width:320px){
    .services__item__head{
        justify-content:center;
        /*margin-left: 1%;*/
        padding: 0% 0%;
    }
}

.services-page__title{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 145%;
    letter-spacing: 2.31px;
    text-transform: uppercase;
    color: #181A3F;
}
@media (max-width:768px){
    .services-page__title{
        text-align: center;
    }
}
#services__title-text{
    margin-top: 5.5%;
    padding-right: 15%;
}
@media (max-width:768px){
    #services__title-text{
        margin-top: 1.7%;
        margin-bottom: 7%;
        padding-right: 0%;
        letter-spacing: 2px;
    }
}
@media (max-width:320px){
    #services__title-text{
        margin-top: -3%;
        margin-left: -1.9%;
        margin-bottom: 6.5%;
        padding-right: 0%;

        font-size: 20px;
        line-height: 200%;
        letter-spacing: 2px;
    }
}

.services-page__button{
    margin: 5.9% 0 5% 0;    
}
@media (max-width:768px){
    .services-page__button{
        margin: 0;    
        padding-top: 20.1%;
        padding-left: 1%;
        margin-bottom: -7%;
    }
}
@media (max-width:320px){
    .services-page__button{
        margin: 0;    
        padding-top: 8%;
        padding-left: 0%;
        margin-bottom: -5.5%;
    }
}
#services__button__desktop{
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #000;
    padding-top: 1.5%;

    height: 54px;
    min-width: 364px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: inline-block;
}
#services__button__tablet{    
    margin: 0 auto;
    margin-top: 0.4%;
    margin-right: 25%;
    padding-top: 0.5%;

    font-weight: 400;
    font-size: 20px;
    line-height: 128%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4px;
    color: #181A3F;
    
    height: 54px;
    width: 335px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;

    display:none;
}
@media (max-width: 768px){
    #services__button__tablet{
        display:block;
    }
    #services__button__desktop{
        display:none;
    }
}
@media (max-width: 320px){
    #services__button__tablet{
        margin-right: 15%;
        padding-top: 2%;
        font-size: 13px;
        line-height: 169%;
        letter-spacing: 0.8px;
        
        height: 38px;
        width: 186px;
    }
}

.services-page__body__grid{
    margin-top: 3.5%;
    padding-right: 0%;

    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(2, 1fr);   
    grid-column-gap: 8%;
    grid-row-gap: 7.9%; 
}
@media (max-width:768px){
    .services-page__body__grid{
        margin-top: 1.6%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:  repeat(2, 1fr);   
        grid-column-gap: 13.7%;
        grid-row-gap: 8.2%; 
    }
}
@media (max-width:320px){
    .services-page__body__grid{
        margin-top: 9.9%;
        padding-left: 0.7%;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(2, 1fr);   
        grid-row-gap: 0%; 
    }
}

.services__grid__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0%;
}
.services-page__img{
    margin-bottom: -1%;
}
@media(max-width:320px){
    .services-page__img > img{
        width: 55px;
    }
    #services__grid__item-2 > .services-page__img > img{
        width: 55px;
        height: 56.52px;
    }
}
#services__grid__item-1{
    padding-top: 0%;
}
#services__grid__item-2{
    margin-top: -2%;
}
#services__grid__item-4{
    margin-top: 1%;
}
#services__grid__item-5{
    margin-top: 5.2%;
}
#services__grid__item-6{
    margin-top: 1.8%;
}
@media (max-width:768px){
    #services__grid__item-2{
        margin-top: -3%
    }
    #services__grid__item-3{
        display: none;
    }    
    #services__grid__item-4{
        margin-top: -10.7%
    }
    #services__grid__item-5{
        margin-top: -0.5%;
        margin-left: -1.5%;
    }
    #services__grid__item-6{
        display: none;
    }
}
@media(max-width:320px){
    .services-page__img > img{
        width: 55px;
    }
    #services__grid__item-2{
        margin-top: -1%
    }
    #services__grid__item-3{
        display: none;
    }    
    #services__grid__item-4{
        display: none;
    }
    #services__grid__item-5{
        display: none;
    }
    #services__grid__item-6{
        display: none;
    }
}

.services-page__subtitles
{
    margin-bottom: 0.2%;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 94%;
    letter-spacing: 0.5px;
    color: #181A3F;
}
@media (max-width:768px){
    .services-page__subtitles
    {
        letter-spacing: 0px;
    }
}
@media (max-width:320px){
    .services-page__subtitles
    {
        margin-top: 7%;
        padding-left: 3%;
        font-size: 20px;
        line-height: 0%;
    }
    #services__grid__item-2 > .services-page__subtitles{
        margin-top: 7.5%;
        margin-left: -0.5%;
    } 
}

.services-page__desc
{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.12px;
    color: #555671;
}
@media (max-width:768px){    
    .services-page__desc{
        text-align: justify;
        letter-spacing: 0.5px;

        font-size: 17px;
        line-height: 176%;
    }
    #services__grid__item-4 > .services-page__desc{
        padding-top: 1%;
    }
    #services__grid__item-5 > .services-page__desc{
        padding-top: 1%;
    }
}
@media (max-width:320px){    
    .services-page__desc{
        padding-top: 0.82%;
        padding-left: 0.5%;
        font-size: 13px;
        line-height: 185%;
        letter-spacing: 0px;
        padding-right: 1%;
    }
    #services__grid__item-2 > .services-page__desc{
        padding-top: 0%;
        padding-left: 0.2%;
        margin-bottom: 0%;
        letter-spacing: 0px;
    } 
}


.about-us__body{
    margin-top: -1.5%;
    padding: 0 7.1%;
}
@media(max-width:768px){
    .about-us__body{
        margin-top: -5.5%;
        padding: 0 5.5%;
    }
}

.about-us__body::after{
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6;
    margin-top: 19.3%; 
}
@media (max-width:768px){
    .about-us__body::after{
        margin-top: 18%;
    }
}
@media (max-width:320px){
    .about-us__body::after{
        margin-top: 12%;
    }
}
.about-us__head{
    margin-bottom: 6.2%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width:768px){
    .about-us__head{
        margin-left: 1%;
        margin-bottom: 12.4%;
        padding: 0% 9%;
    }
}
@media (max-width:320px){
    .about-us__head{
        margin-bottom:0%;
        padding: 0% 0%;
        padding-top: 1.8%;
    }
}

.about-us__head__title{
    padding-right: 33%;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 145%;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #181A3F;
}
@media (max-width:768px){
    .about-us__head__title{
        padding-right: 0%;
        text-align: center;
    }
}
@media (max-width:320px){
    .about-us__head__title{
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 193%;
    }
}

.about-us__head__button{
    margin-top: 2%;
    padding-right: 1.5%;
}

.about-us__head__button__after{
    display: none;
    margin: 0%;
    padding:0%;
    padding-top: 2%;
    padding-right: 1.5%;
}
#about-us__button__desktop{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;    
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;    
    color: #181A3F;

    height: 55px;
    width: 295px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: inline-block;
}
@media(max-width:768px){
    #about-us__button__desktop{
        display:none;
    }
}
#about-us__button__tablet{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;    
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;    
    color: #181A3F;

    height: 55px;
    width: 233px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;

    display: none;
}
@media(max-width:768px){
    .about-us__head__button__after{
        display: block;
    }
    #about-us__button__tablet{
        padding-top: 0.5%;
        padding-left:0%;
        margin: 0% 31%;
        margin-top: 10.3%;
        display: inline-block;
    }
}
@media(max-width:320px){
    #about-us__button__tablet{
        height: 38px;
        width: 186px;
        font-size: 13px;
        line-height: 169%;
        letter-spacing: 1px;

        padding-top: 0.9%;
        padding-left: 4%;
        margin: 0% 15.2%;
        margin-top: 11.3%;
    }
    /*.about-us__head__button{
        margin: 0% 20%;
        margin-top: 11.2%;


    }*/
}

.about-us__content__grid{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows:  1fr;   
    grid-column-gap: 0%;
}
@media (max-width:320px){
    .about-us__content__grid{
        display: block;
    }
}

#about-us__grid__item1{
    display:flex;
    flex-direction: column;
}
#about-us__item2__tablet{
    display: none;       
}
@media (max-width:768px){
    #about-us__grid__item1 > img{
        height: 474px;
    }
    #about-us__item2__tablet{
        display: block;
        height: 676.6px;
        width: 194.29px;
    }
    #about-us__item2__desktop{
        display: none;       
    }
}
@media (max-width:320px){
    #about-us__grid__item1 > img{
        display: none;
    }
    #about-us__item2__tablet{
        display: none;
    }
}


#about-us__grid__item3{
    display:flex;
    flex-direction: column;
}
#about-us__grid__item3 > p{
    margin: 0%;
    padding: 0%;
    padding-left: 14%;
    padding-top: 13.5%;
    line-height: 166%;    
}
@media (max-width:768px){
    #about-us__grid__item3{
        display: none;
    }
}
#about-us__img4{
    height: 236px;
    width: 355px;
}

.about-us__grid__item__text{
    margin-top: 0.5%;
    margin-bottom: 22%;
    padding-right: 10%;
    letter-spacing: 0.15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 171%;
    color: #555671;
}
@media (max-width:768px){
    .about-us__grid__item__text{
        margin-top: -1.5%;
        margin-bottom: 13%;
        padding-right: 5%;
        letter-spacing: 0px;
        line-height: 165%;
        text-align: justify;
    }

}
@media (max-width: 320px){
    .about-us__grid__item__text {
        margin-top: 22.9%;
        margin-bottom: 0%;
        padding-left: 0.8%;
        padding-right: 0%;
        line-height: 166%;
        letter-spacing: 0.1px;
    }
}

.projects__body{
    margin: 14.3% 7.2% 9% 7.2%;
}
@media (max-width:768px){
    .projects__body{
        margin: 9.1% 5.5% 0% 5.5%;
    }
}
@media (max-width:320px){
    .projects__body{
        margin: 7.5% 5.5% 0% 5.5%;
    }
}

.projects__head{
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px){
    .projects__head{
        justify-content: center;
    }
}

.projects__head__title{
    padding-right: 32%;
    padding-top: 0.1%;
    font-weight: 400;
    font-size: 40px;
    line-height: 145%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #181A3F;
}
@media (max-width:768px){
    .projects__head__title{
        padding: 0% 12%;
        text-align: center;
    }
}
@media (max-width:320px){
    .projects__head__title{
        padding: 0% 5%;
        font-size: 20px;
        line-height: 200%;
    }
}


.projects__head__button{
    margin: 4% 0% 0% 0%;
}
#projects__button__desktop{
    padding-top: 0%;
    padding-left: 14.8%;

    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #181A3F;
    text-align: left;

    height: 90px;
    min-width: 272px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: inline-block;
}
#projects__button__tablet{
    padding-top: 0%;
    padding-left: 0%;

    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #181A3F;
    text-align: center;

    height: 61px;
    width: 218px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: none;
}
@media (max-width:768px){
    #projects__button__desktop{
        display: none;
    }
    #projects__button__tablet{
        margin: 1.5% 0% 0% 33.6%;
        padding-top: 0.4%;
        padding-left: 1%;
        letter-spacing: 0.45px;

        display: inline-block;
    }
}
@media (max-width:320px){
    #projects__button__tablet{
        margin: 0.5% 0% 0% 15.6%;
        padding-top: 1%;
        padding-left: 3%;

        height: 38px;
        width: 186px;
        font-size: 13px;
        letter-spacing: 0.7px;

        display: inline-block;
    }
}

.projects__content__grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat(4, 256px);   
    grid-row-gap: 0%;

}
@media (max-width:768px){
    .projects__content__grid{
        grid-template-rows:  repeat(3, 256px);   
    }
}
@media (max-width:320px){
    .projects__content__grid{
        grid-template-rows:  226px;   
    }
}

.projects__grid__item{
    display: flex;
    flex-direction: row;

}
.projects__item__wrap::after{
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6;
    margin-top: 0%;
}
@media (max-width:320px){
    .projects__item__wrap::after{
        display: none;
    }
}

.projects__item__category{
    /*margin-right: 13.7%;
    margin-top: 7.7%;*/

    text-align: justify;
    white-space: nowrap;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #181A3F;
}
#proj__grid__item1 > .projects__item__category{
    padding-top: 7.8%;
    margin-right: 13.8%
}
@media (max-width:768px){
    #proj__grid__item1 > .projects__item__category{
        padding-top: 6.5%;
        margin-right: 3.6%;
    }
}
@media (max-width:320px){
    #proj__grid__item1 > .projects__item__category{
        padding-top: 26.2%;
        margin-left: -15.5%;

    }
    #proj__grid__item1 > .projects__item__category > p{
        font-size: 13px;
        letter-spacing: 0.3px;
        transform: rotate(-90deg);        
    }
}

#proj__grid__item1 > .projects__item__portfolio-part{
    padding-top: 5%;
    margin-bottom: 0%;
}
@media (max-width:768px){
    #proj__grid__item1 > .projects__item__portfolio-part{
        padding-top: 1.7%;
        margin-bottom: 0%;
    }
}

#proj__grid__item2{
    margin-top: 2%; 
}
@media (max-width:320px){
    #proj__grid__item2{
        display:none; 
    }
}

#proj__grid__item2 > .projects__item__category{
    padding-top: 5.8%;
    letter-spacing: 0.8px;
}
@media (max-width:768px){
    #proj__grid__item2 > .projects__item__category{
        padding-top: 4.7%;
        padding-right: 0%;
        margin-right: 0%;
    }
    #proj__grid__item2 > .projects__item__category > p{
        white-space: normal;
    }
}

#proj__grid__item2 > .projects__item__portfolio-part{
    margin-top: 3.1%;
    margin-left: 9%;    
}
@media (max-width:768px){
    #proj__grid__item2 > .projects__item__portfolio-part{
        margin-top: -0.4%;
        margin-left: 13%;    
    }
}

#proj__grid__item2 > .projects__item__portfolio-part > .projects__item__subtitle{
    letter-spacing: 0.3px;
}
@media (max-width:768px){
    #proj__grid__item2 > .projects__item__portfolio-part > .projects__item__subtitle{
        letter-spacing: 0px;
    }
}

#proj__grid__item3{
    margin-top: 0%;    
}
@media (max-width:320px){
    #proj__grid__item3{
        display:none; 
    }
}
#proj__grid__item3 > .projects__item__category{
    padding-top: 7.7%;
    letter-spacing: 0.8px;
}
@media (max-width:768px){
    #proj__grid__item3 > .projects__item__category{
        padding-top: 6.6%;
        margin-right: 3.2%;
        white-space: normal;
    }
}

#proj__grid__item3 > .projects__item__portfolio-part{
    padding-left: 12.4%;
    padding-bottom: 0%;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 0%;    
}
#proj__grid__item3 > .projects__item__portfolio-part > .projects__item__subtitle{
    letter-spacing: 0.3px;
}
@media (max-width:768px){
    #proj__grid__item3 > .projects__item__portfolio-part > .projects__item__subtitle{
        letter-spacing: 0px;
        margin-top: -4.5%;
    }
}

#proj__grid__item4{
    margin-top: 0%;    
}
@media (max-width:768px){
    #proj__item__wrap4{
        display: none;
    }
}

#proj__grid__item4 > .projects__item__category{
    margin-top: 9.2%;    
    letter-spacing: 0.8px;
}
#proj__grid__item4 > .projects__item__portfolio-part{
    margin-top: 5%;
    margin-left: 9%;    
}
#proj__grid__item4 > .projects__item__portfolio-part > .projects__item__subtitle{
    letter-spacing: 0.3px;
}

.projects__item__subtitle{
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 38px;
    line-height: 132%;
    color: #181A3F;
}
@media (max-width:768px){
    .projects__item__subtitle{
        letter-spacing: 0px;
    }
}
@media (max-width:320px){
    .projects__item__subtitle{
        padding-top: 1%;
        margin-left: -13%;
        font-size: 20px;
    }
}

.projects__item__description{
    margin-top: -4%;
    margin-bottom: 4.8%;
    padding-right: 27%;
    letter-spacing: 0.13px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #555671;
}
@media (max-width:768px){
    .projects__item__description{
        margin-top: -7.2%;
        margin-bottom: 2.5%;
        padding-right: 0%;
        letter-spacing: 0px;
        text-align: justify;
    }
}
@media (max-width:320px){
    .projects__item__description{
        margin-top: -15.8%;
        margin-bottom: 0%;
        margin-left: -16.5%;
        padding-right: 14%;

        font-size: 13px;
        line-height: 185%;
        letter-spacing: 0px;
        text-align: justify;
    }
}

.projects__item__portfolio-part{
    display: flex;
    flex-direction: column;
}


.contact-us__body{
    padding-top: 10.3%;
}
.contact-us__wrap{
    margin: 0% -1%;
    padding-top: 0%;
    padding-left: 8.1%;
    background-color: #F0EFEC;
}
@media(max-width:768px){
    .contact-us__wrap{
        margin: -2.6% -1% 0% 0%;
        padding-left: 0%;
    }
}
@media(max-width:320px){
    .contact-us__wrap{
        margin: 27.4% -2% 0% -2%;
        padding-left: 0%;
    }
}

.contact-us__banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;   
    grid-row-gap: 0%;
}
@media(max-width:768px){
    .contact-us__banner{
        grid-template-columns: 449px;
        justify-content: center;
    }
}
@media(max-width:320px){
    .contact-us__banner{
        grid-template-rows: 300px;
    }
}

.contact-us__banner__text{
    display:flex;
    flex-direction: column;
}
.contact-us__banner__text > p{
    margin-top: 32%;
    margin-bottom: 8%;
    padding-right: 26%;
    font-weight: 400;
    font-size: 40px;
    line-height: 145%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #181A3F;
}
@media (max-width:768px){
    .contact-us__banner__text > p{
        margin-top: 33.5%;
        padding: 0% 1% 0% 0%;
        letter-spacing: 2px;

        text-align: center;
    }
}
@media (max-width:320px){
    .contact-us__banner__text > p{
        margin-top: 18.5%;
        margin-bottom: 0%;
        padding: 0% 23%;

        line-height: 193%;
        letter-spacing: 2px;
        font-size: 20px;
        text-align: center;
    }
}

#contact-us__banner__button{
    padding-top: 1%;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;

    height: 45px;
    width: 255px;
    background-color: #FF7549;
    border: none;
    text-decoration: none;
    display: inline-block;
}
@media (max-width:768px){
    #contact-us__banner__button{
        margin: 6.1% 0% 31.5% 20.8%;
    }
}
@media (max-width:320px){
    #contact-us__banner__button{
        margin: 3.6% 0% 18.5% 29.4%;
        padding-left: 1.8%;
        letter-spacing: 1.2px;

        height: 38px;
        width: 186px;
        font-size: 13px;
    }
}

.contact-us__banner__img{
    display: flex;
    justify-content: flex-end;
}
@media (max-width:768px){
    .contact-us__banner__img{
        display: none;
    }
}

.contact-us__banner__img > img{
    width: 670px;
    height: 662px;
}
.contact-us__content{
    padding: 17.2% 7.1% 0% 7.1%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 107px 432px 41px;   
}
@media (max-width:768px){
    .contact-us__content{
        padding: 8.5% 6% 0% 6.4%;  
    }
}
@media (max-width:320px){
    .contact-us__content{
        padding: 8% 6% 0% 6.4%;  
        grid-template-rows: 107px 251px 164px; 
    }
}

.contact-us__content::after{
    margin-top: 21.6%;
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6;
}
@media(max-width:768px){
    .contact-us__content::after{
        margin-top: 42.3%;
    }
}
@media(max-width:320px){
    .contact-us__content::after{
        margin-top: 17.3%;
    }
}

.contact-us__head{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 17%;
}
@media (max-width:768px){
    .contact-us__head{
        display:grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0%;
    }
}
@media (max-width:320px){
    .contact-us__head{
        padding-right: 0;
        display:grid;
        grid-template-columns: 267px;
        grid-column-gap: 0%;
    }
}

.contacs-us__head__title{
    font-weight: 400;
    font-size: 40px;
    line-height: 145%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #181A3F;
}
@media (max-width:768px){
    .contacs-us__head__title{
        text-align: center;
    }
}
@media (max-width:320px){
    .contacs-us__head__title{
        font-size: 20px;
        line-height: 196%;
    }
}

.contacs-us__head__description{
    padding-top: 2.2%;
    padding-left: 11%;
    padding-right: 0%;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 17px;
    line-height: 156%;
    color: #555671;
}
@media (max-width:768px){
    .contacs-us__head__description{
        display: none;

        padding-top: 2.2%;
        padding-left: 11%;
        letter-spacing:0.1px;
        font-size: 17px;
        line-height: 177%;
    }
}

.contact-us__steps{
    padding-top: 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;   
    grid-column-gap: 8%;
}
@media (max-width:768px){
    .contact-us__steps{
        padding-top: 12.5%;
        grid-column-gap: 13%;
    }
}
@media (max-width:768px){
    .contact-us__steps{
        padding-top: 12.5%;
        grid-column-gap: 13%;
    }
}
@media (max-width:320px){
    .contact-us__steps > div{
        display: flex;
        flex-direction: row;

        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;  
    }
    .contact-us__steps{
        grid-template-rows: repeat(3, 68px);
        grid-template-columns: 1fr;

        padding-top: 17.1%;
        padding-left: 0%;
    }
}


@media (max-width:768px){
    #contact-us__step1 > .step__description{
        padding-top: 7%;
        padding-right: 4%;
    }

    #contact-us__step2 > .step__subtitle{
        padding-top: 4%;
        padding-left: 9.5%;
    }
    #contact-us__step2 > .step__description{
        padding-top: 6%;
        padding-left: 4%;
    }
    #contact-us__step2 > .step__img{
        padding-left: 4.5%;
    }

    #contact-us__step3 > .step__subtitle{
        padding-top: 7%;
        padding-left: 1.5%;
    }
    #contact-us__step3 > .step__description{
        padding-right: 3%;
        padding-left: 1.5%;
    }
    #contact-us__step3 > .step__img{
        padding-left: 3.5%;
        margin-top: -1%;
    }
}
@media (max-width:320px){
    #contact-us__step1{
        padding-left: 18.5%;
    }
    #contact-us__step1 > .step__img > img{
        height: 55px;
        width:30.41px;
    }
    #contact-us__step1 > .step__subtitle{        
        padding-top: 5%;
        padding-left: 14.5%;

        font-size: 19px;
        letter-spacing: 0px;
    }

    #contact-us__step2 > .step__subtitle{
        padding-top: 6.2%;
        padding-left: 17.9%;

        font-size: 19px;
        letter-spacing: 0px;
    }
    #contact-us__step2 > .step__img{
        padding-left: 10%;
    }
    #contact-us__step2 > .step__img > img{
        height: 55px;
        width:38px;
        padding-left: 61.5%;
    }

    #contact-us__step3 > .step__subtitle{
        padding-top: 5.5%;
        padding-left: 16.4%;

        font-size: 19px;
        letter-spacing: 0px;
    }
    #contact-us__step3 > .step__img {
        padding-left: 7.8%;
        margin-top: -2%;
    }
    #contact-us__step3 > .step__img > img{
        height: 55px;
        width: 41px;
        padding-left: 67.5%;
        margin-top: 15%;
    }

}

.step__subtitle{
    padding-top: 5%;
    letter-spacing: 0.3px;
    font-weight: 400;
    font-size: 28px;
    line-height: 139%;
    color: #181A3F;
}
@media (max-width:768px){
    .step__subtitle{
        letter-spacing: 0.55px;
    }
}

.step__description{
    padding-top: 4%;
    letter-spacing: -0.9px;
    line-height: 146%;
    font-weight: 400;
    font-size: 18px;
    color: #555671;
}
@media (max-width:768px){
    .step__description{
        text-align: justify;
        letter-spacing: 0.2px;

        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
    }
}
@media (max-width:320px){
    .step__description{
        display: none;
    }
}

.contact-us__buttons{
    display: flex;
    justify-content: center;
}
@media (max-width:768px){
    .contact-us__buttons{
        padding-right: 1%;
        margin-top: 23.5%;
    }
}
@media (max-width:320px){
    .contact-us__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-right: 1%;
        margin-top: 4%;
    }
}

#contact-us__content__button1{
    margin-right: 2.2%;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 1.5px;
    text-transform: uppercase;    
    color: #FFFFFF;

    height: 41px;
    width: 255px;
    background-color: #FF7549;
    border: none;
    text-decoration: none;
    display: inline-block;
}
@media (max-width:768px){
    #contact-us__content__button1{
        margin-right: 4.2%;
    }
}
@media (max-width:320px){
    #contact-us__content__button1{
        margin-right: 0%;
        width: 186px;
        font-size: 13px;
    }
}

#contact-us__content__button2{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;    
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;    
    color: #181A3F;

    height: 41px;
    width: 338px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: inline-block;
}
@media (max-width:768px){
    #contact-us__content__button2{
        margin-left: 0%;
    }
}
@media (max-width:320px){
    #contact-us__content__button2{
        margin-right: 0%;
        width: 186px;
        height: 39px;
        font-size: 13px;

        margin-top: 12%;
    }
}


.articles__body{
    padding: 15.25% 7.15% 0%;
    display: grid;
    grid-template-rows: 170px 648px;
}
@media (max-width:768px){
    .articles__body{
        padding: 5.7% 8.2% 0% 8.15%;
        grid-template-rows: 170px 648px;
    }
}
/*
@media (max-width: 768px){
    .articles__body {
        padding: 3.7% 7.2% 0% 7.15%;
        grid-template-rows: 186px 648px;
    }
}
*/
@media (max-width: 320px){
    .articles__body {
        padding: 3.7% 4.2% 0% 6.7%;
        grid-template-rows: 72px 395px;
    }
}

.articles__body::after{
    margin-top: 21.6%;
    content: '';
    display: block;
    border-bottom: 1px solid #DAD9D6;
}
.articles__head{
    display:flex;
    justify-content: space-between;
}
@media (max-width:768px){
    .articles__head{
        display:flex;
        justify-content: flex-start;
        padding-left: 11%;
    }
}
@media (max-width:320px){
    .articles__head{
        display:flex;
        justify-content: flex-start;
        margin-left: 0%;
        padding-left: 0%;
    }
}

.articles__head > p{
    font-weight: 400;
    font-size: 40px;
    line-height: 145%;
    letter-spacing: 2.15px;
    text-transform: uppercase;
    color: #181A3F;
}
@media (max-width:320px){
    .articles__head > p{
        text-align: center;

        font-size: 20px;
        line-height: 145%;
        letter-spacing: 2.15px;
        text-transform: uppercase;
        color: #181A3F;
    }
}

.articles__head > button{
    margin-top: 4%;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;    
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;    
    color: #181A3F;

    height: 40px;
    width: 352px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: inline-block;
}
@media (max-width:768px){
    .articles__head > button{
        display: none;
    }
}


.articles__content{
    padding-top: 1.9%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.1%;
}
@media (max-width:768px){
    .articles__content{
        padding-top: 2.1%;

        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 13.1%;
    }
    #item3{
        display: none;
    }
}
@media (max-width:320px){
    .articles__content{
        margin-left: 14.6%;
        padding-top: 0.1%;
        padding-right: 2.4%;

        grid-template-columns: 1fr;
        grid-column-gap: 0%;
    }
    #item2{
        display: none;
    }
}

.articles__content__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
@media (max-width:320px){
    .articles__content__item{

    }
}

.articles__content__item > img{
    height: 388px;
    width: 388px;
}
@media (max-width:768px){
    .articles__content__item > img{
        width: 272px;
        height: 272px;
    }
}

.articles__category-date{
    padding-top: 0%;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 1.1px;
    text-transform: uppercase;    
    color: #555671;    
}
#item1 > p{
    padding-top: 3%;
}
@media (max-width:768px){
    #item1 > img{
        height: 274.5px;
    }
    #item1 > p{
        padding-top:0%;
        margin-top: 4%;
    }
}
@media (max-width:320px){
    #item1 > img{
        width: 183.11px;
        height: 190px;
    }
    #item1 > p{
        font-size: 13px;
        padding-left: 3%;
        padding-top: 0.9%;
        letter-spacing: 1px;
    }
}

#item2 > p{
    margin-top: 0%;
    margin-bottom: -3%;
    padding-top: 8%;
}
@media (max-width:768px){
    #item2 > p{
        padding-top: 0.5%;
        margin-top: 4%;
        margin-left: -0.5%
    }
}

#item3 > p{
    margin-top: 8%;
}

.articles__subtitle{
    margin-top: -7%;
    margin-bottom: 0%;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.2px;
    line-height: 139%;
    color: #181A3F;
}
@media (max-width:768px){
    #item1__subtitle{
        margin-top: -15%;
    }
    #item1__subtitle > p{
        text-align: justify;
        letter-spacing: 0px;
    }
}
@media (max-width:320px){
    #item1__subtitle{
        margin-top: -15%;
        margin-left: -18%;
    }
    #item1__subtitle > p{
        letter-spacing: 0px;
        font-size: 24px;
        line-height: 114%;
    }
}

#item2__subtitle{
    margin-top: 0%;
}
@media (max-width:768px){
    #item2__subtitle{
        margin-top: -3%;
    }
    #item2__subtitle > p{
        text-align: justify;
        letter-spacing: 0px;
    }
}

.articles__description{
    margin-top: -7%;
    padding-right: 17%;
    letter-spacing: 0.1px;
    font-weight: 400;
    font-size: 17px;
    line-height: 177%;
    color: #555671;
}
@media (max-width:768px){
    .articles__description{
        margin-top: -12%;
        padding-right: 0%;
        letter-spacing: 0px;
        text-align: justify;
    }
    #item2__description{
        margin-top: -10.5%;
        padding-right: 0%;
    }
    #item2__description > p{
        text-align: left;
    }
}
@media (max-width:320px){
    .articles__description{
        margin-top: -12%;
        margin-left: -18%;
    }
    #item1__description{
        margin-top: -9.5%;
    }
    #item1__description > p{
        text-align: left;
        font-size: 13px;
        line-height: 154%;
        text-align: justify;
    }
}

.articles__button__tablet{
    display: none;
}
.articles__button__tablet > button{
    margin-top: 4%;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;    
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;    
    color: #181A3F;

    height: 40px;
    width: 352px;
    background-color: #fff;
    border-width: 2px;
    border-color: #000;
    text-decoration: none;
    display: none;
}
@media(max-width:768px){
    .articles__button__tablet{
        margin-top: -3.4%;
        display: flex;
        justify-content: center;
    }
    .articles__button__tablet > button{
        display: block;
    }
}
@media (max-width:320px){
    .articles__button__tablet{
        margin-top: -3%;
        margin-left: -3%;
    }
    .articles__button__tablet > button{
        padding-top: 1%;
        line-height: 169%;
        letter-spacing: 0.6px;
        font-size: 13px;
        height: 39px;
        width: 184px;
    }
}


.nav__title-part{
    background-color:#F0EFEC;
}
.nav__wrapper{
    padding: 12.6% 7.2%;
}
@media (max-width:768px){
    .nav__wrapper{
        padding: 8.6% 7.2%;
        padding-bottom: 7.2%;
    }
}
@media (max-width:320px){
    .nav__wrapper{
        padding: 8.6% 7.2%;
        padding-bottom: 0.2%;
    }
}

.nav__main-part > div{
    padding-right: 0%;
}
.nav__main-part > .nav__wrapper{
    margin-top: 0%;
    padding-top: 12.5%;
    padding-bottom: 9.5%;
}
@media (max-width:768px){
    .nav__main-part > .nav__wrapper{
        padding: 22% 0% 9% 6%;
    }
}
@media (max-width:320px){
    .nav__main-part > .nav__wrapper{
        padding: 17% 0% 0% 6.2%;
    }
}

.nav__title-part__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 34%;
}
@media (max-width:768px){
    .nav__title-part__grid{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        grid-row-gap: 22%;
        grid-column-gap: 0%;
    }
}
@media (max-width:320px){
    .nav__title-part__grid{
        grid-template-rows: 161px 117px;
        grid-template-columns: 300px;
        grid-row-gap: 10%;
        grid-column-gap: 0%;
    }
}

.nav__item__title{
    padding-top: 0.45%;
    font-weight: 400;
    font-size: 60px;
    line-height: 123%;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #181A3F;
}
@media (max-width: 768px){
    .nav__item__title{
        padding: 1.8% 5% 0% 21.8%;
        font-weight: 400;
        font-size: 59px;
        line-height: 123%;
        letter-spacing: 3.6px;
        text-align: left;
    }
}
@media (max-width: 320px){
    .nav__item__title{
        padding: 25.5% 0% 0% 0%;
        margin-left: -13%;
        font-weight: 400;
        font-size: 28px;
        line-height: 142%;
        letter-spacing: 3.3px;
        text-align: center;
    }
}

.nav__item__contacts{
    padding-right: 6%;
    padding-top: 1%;
    font-weight: 400;
    font-size: 32px;
    line-height: 228%;
    color: #181A3F;
}
@media (max-width: 768px){
    .nav__item__contacts{
        padding-right: 42%;
        padding-top: 0.5%;
        letter-spacing: 0.2px;
        line-height: 188%;
    }
}
@media (max-width: 320px){
    .nav__item__contacts{
        padding-right: 28%;
        padding-top: 5.5%;
        letter-spacing: -0.1px;
        line-height: 173%;
        font-size: 20px;
    }
}

.nav__main-part__grid{ 
    display: grid;
    grid-template-columns: 34% 19.6% 18.5% 23.8%;
    justify-items: flex-start;
}
@media (max-width: 768px){
    .nav__main-part__grid{ 
        display: grid;
        grid-template-columns: 41% 24% 25%;
        justify-items: flex-start;
    }
}
@media (max-width: 320px){
    .nav__main-part__grid{
        grid-template-columns: 42% 53%;
        grid-column-gap: 3.7%;
    }
}

.nav__main-part__company{
    display: flex;
    justify-content: flex-start;
}
.nav__main-part__company > img{
    width: 56.61px;
    height: 45.99px;
}
@media (max-width:320px){
    .nav__main-part__company > img{
        width: 27.61px;
        height: 20.99px;
    }
}

.nav__main-part__company > p{
    margin-top: 0%;
    padding-left: 2%;
    padding-top: 1.5%;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
}
@media (max-width:768px){
    .nav__main-part__company > p{
        margin-top: 1%;
        padding-left: 3.5%;
    }
}
@media (max-width:320px){
    .nav__main-part__company > p{
        margin-top: 0.5%;
        padding-left: 3%;
        font-size: 13px;
        letter-spacing: 0.7px;
    }
}

.nav__main-part__item{
    text-transform: uppercase;
    padding-left: 0%;
}
.nav__list{
    padding-left: 0%;
}
#nav__list1{
    padding-left: 19.5%;
}
@media (max-width: 768px){
    #nav__list1{
        padding-top: 5%;
    }
}
@media (max-width: 320px){
    #nav__list1{
        padding-top: 1%;
    }
}

#nav__list1 > .nav__main-part__list-title{
    margin-bottom: 14%;
}

#nav__list1 > .nav__main-part__list-content > ul > li{
    padding-bottom: 7.8%;
    padding-top: 11%;
    letter-spacing: 1.8px;
}
@media (max-width: 768px){
    #nav__list1 > .nav__main-part__list-content > ul > li{
        margin: -3% 0%;
        padding-top: 6%;
        padding-bottom: 13.7%;
        letter-spacing: -0.2px;
    }
}
@media (max-width: 320px){
    #nav__list1 > .nav__main-part__list-content > ul > li{
        margin: -3% 0%;
        letter-spacing: 0.72px;
        font-size: 13px;
        padding-top: 6%;
        padding-bottom: 0.7%;
    }
}

#nav__list2{
    padding-left: 0.5%;
    padding-top: 10%;
}
#nav__list2 > .nav__main-part__list-content > ul > li{
    padding-bottom: 3.6%;
    padding-top: 16%;
    letter-spacing: 2px;
}
@media (max-width: 768px){
    #nav__list2{
        display: none;
    }
}

#nav__list3{
    padding-left: 17%;
}
@media (max-width: 768px){
    #nav__list3{
        padding-top: 5%;
        padding-left: 13%;
    }
}
@media (max-width: 320px){
    #nav__list3{
        display: none;
    }
}

@media (max-width: 768px){
    #nav__list3 > .nav__main-part__list-title{
        margin-bottom: 0%;
    }
}

#nav__list3 > .nav__main-part__list-content > ul > li{
    padding-bottom: 2%;
    padding-top: 13%;
    letter-spacing: 2px;    
}
@media (max-width: 768px){
    #nav__list3 > .nav__main-part__list-content > ul{
        margin-top:11%;

        padding-bottom: 1%;
        padding-top: 12%;
        letter-spacing: 0px;
    }
    #nav__list3 > .nav__main-part__list-content > ul > li{
        margin: 0% 0%;
        padding-top: 0%;
        padding-bottom: 15%;
    }
}

.nav__main-part__list-title{
    padding-bottom: 0%;
    font-size: 21px;
    font-weight: bolder;
}
@media (max-width: 320px){
    .nav__main-part__list-title{
        padding-bottom: 0%;
        font-size: 14px;
        font-weight: bolder;
    }
}

.nav__main-part__list-content > ul{
    list-style-type: none;
    padding-inline-start: 0%;
}
@media (max-width: 320px){
    .nav__main-part__list-content > ul{
        margin-top: 0%;
    }
}

.nav__main-part__list-content > ul > li{
    /*letter-spacing: 2px;*/
}

.nav__main-part__contacts{
    padding-right: 40%;
    padding-top: 6%;
    text-transform: lowercase;
    font-size: 22px;
    line-height: 249%;
    letter-spacing: 0.15px;
    color: #181A3F;
}
@media (max-width: 768px){
    .nav__main-part__contacts{
        padding-top: 0%;
        padding-right: 27%;
        letter-spacing: 0px;
    }
}
@media (max-width: 320px){
    .nav__main-part__contacts{
        padding-top: 0%;
        padding-right: 25%;
        letter-spacing: -0.6px;
        font-size: 12px;
        line-height: 226%;
    }
}



.footer__body{
    background-color: #F0EFEC;
}
.footer__body__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 1.5% 7.2%;
}
@media (max-width:768px){
    .footer__body__wrapper{
        padding: 5% 6.9%;
        padding-left: 5.9%;
        padding-bottom: 3.5%;
    }
}@media (max-width:320px){
    .footer__body__wrapper{
        padding: 0% 6.9%;
        padding-left: 5.9%;
        padding-bottom: 5%;
    }
}

.footer__body__wrapper > p{
    font-size: 18px;
    line-height: 167%;
    color: #555671;
}
@media (max-width:768px){
    .footer__body__wrapper > p{
        font-size: 10px;
        margin-top: 1%;
        letter-spacing: 0.06px;
    }
}
@media (max-width:320px){
    .footer__body__wrapper > p{
        font-size: 4.65px;
        padding-top: 6.7%;
        margin-top: 0%;
        margin-bottom: 0%;
        letter-spacing: 0.06px;
    }
}

.footer__body__wrapper > img{
    padding-top: 0%;
    margin-top: 1.5%;
    width: 17.6%;
    height: 31px;
}
@media (max-width:768px){
    .footer__body__wrapper > img{
        padding-top: 0%;
        margin-top:-0.7%;
        width: 26.6%;
        height: 31px;
    }
}
@media (max-width:320px){
    .footer__body__wrapper > img{
        padding-top: 6.5%;
        width: 22.6%;
        height: 10px;
    }
}